@model WebApplication2.ViewModel.CartViewModel
@using WebApplication2.Models


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Space")

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enter</title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div>

        <br />
        <b>Existing Products:</b>
        <br />
        <table class="table table-striped">
            <tr>
                <td>Product ID</td>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
            @foreach (UserCart obj in Model.CProducts)
            {
                <tr>
                    <td>@obj.ProID</td>
                    <td>@obj.Name</td>
                    <td>@obj.Quantity</td>
                    <td>@obj.Price</td>
                </tr>
            }

        </table>



    </div>

    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">
                <form method="post" action="#" role="textbox">
                    <div id="msg"><ul style="color:red;">@TempData["InvalidInput1"]</ul></div>
                    <input type="text" name="Product ID" placeholder="ProID" id="ProID" class="form-control input-lg" />
                    <div class="pwstrength_viewport_progress"></div>

                    <div class="pwstrength_viewport_progress"></div>
                    <br />
                    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" onclick="Delete()">Delete</button>
                    <br />

                    <br />
                    <div id="msg"><ul style="color:red;">@TempData["EmptyCart"]</ul></div>
                    <div>
                        <a class="btn btn-lg btn-primary btn-block" id="login" href="/User/Recepent" runat="server" onserverclick="login_ServerClick">Order all cart</a>
                    </div>


                </form>
            </section>
        </div>

        <div class="col-md-4"></div>

    </div>

    <script type="text/javascript">
        function Delete() {
            $.ajax({
                type: "POST",
                data: { ProID: $("#ProID").val() },
                url: '/User/MyCart',
                success: function (data) {
                    console.log(data);
                    if (data == false) {
                        $("#errorMesage").removeClass("hidden")
                        console.log("not good");
                        window.location.href = "/User/MyCart";
                    }
                    else {
                        window.location.href = "/User/MyCart";
                    }
                },
                error: function () {
                    console.log("ERROR");
                }
            });
        }

    </script>


</body >

