@model WebApplication2.ViewModel.CartViewModel
@using WebApplication2.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Space")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recipient</title>

</head>
@{ WebApplication2.Models.User user = ViewBag.CurrentUser;}
<body>
    <h1>Recipient</h1>
    <br />
    Name: @user.Name
    <br />
    Address: @user.Address
    <br />
    Phone: @user.Phone
    <br />

    <div>

        <br />
        <b>Existing Products:</b>
        <br />
        <table class="table table-striped">
            <tr>
                <td>Product ID</td>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
            @foreach (UserCart obj in Model.CProducts)
            {
                <tr>
                    <td>@obj.ProID</td>
                    <td>@obj.Name</td>
                    <td>@obj.Quantity</td>
                    <td>@obj.Price</td>
                </tr>
            }

        </table>



    </div>

    <br />
    The total price : @TempData["total"]

</body>
</html>
